/* media-queries */
@media Screen and (max-width: 576px) {
  .body {
    overflow: hidden;
  }
  /* hero-section */
  .hero-section {
    /* overflow: hidden; */
    /* height: 100%; */
    width: 100%;
  }

  .nav-links {
    display: none;
  }
  .nav-button {
    display: none;
  }
  .nav-toggle {
    display: block;
  }
  .content {
    /* display: none; */
    width: 100%;
    height: 100%;
  }
  .left-content {
    display: flex;
    flex-direction: column;
    gap: 44px;
    width: 100%;
    margin: 0;
    padding: 48px 24px 48px 24px;
  }
  .left-content-text {
    /* display: none; */
    /* border: 2px solid red; */
    align-items: center;
    gap: 32px;
  }
  .left-content-text h1 {
    font-size: 40px;
    line-height: 44px;
    word-wrap: break-word;
    text-align: center;
  }
  .left-content-text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.5%;
    text-align: center;
  }

  .left-content-search {
    /* display: none; */
    margin: 0;
    margin-top: 40px;
    width: 100%;
    align-items: center;
    gap: 8px;
  }
  .tabs {
    width: 90%;
    /* display: none; */
    /* width: 310px; */
  }
  .content-search {
    display: none;
  }
  .location-search-box {
    display: block;
    margin: 0;
    justify-content: center;
    align-items: center;
  }
  .left-content-stats {
    margin-top: 0;
    /* display: none; */
    width: 100%;
    height: 90%;
    align-self: center;
    justify-content: space-between;
    margin: 0;
  }
  .numbers {
    width: 139px;
    height: 140px;
    /* gap: 24px; */
  }
  .numbers h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
  }
  .numbers p {
    font-weight: 400;
    font-size: 14px;
    line-height: 19.6px;
    letter-spacing: 0px;
  }
  .properties {
    width: 154px;
    height: 140px;
    /* gap: 24px; */
  }
  .properties h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
  }
  .properties p {
    font-weight: 400;
    font-size: 14px;
    line-height: 19.6px;
    letter-spacing: 0px;
  }
  .right-content {
    display: none;
  }

  /* benefit-section */
  .benefit-section {
    /* border: 2px solid red; */
    /* display: none; */
    padding: 48px 24px 48px 24px;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* top: 800px; */
  }
  .Illustration {
    /* border: 2px solid green; */
    /* padding: 48px 24px 48px 24px; */

    height: 100%;
    width: 100%;
    /* height: 100%; */
  }

  .Illustration-card {
    width: 100%;
  }
  .card-content {
    gap: 24px;
  }

  .benefit-categories {
    width: 100%;
    height: 100%;
    gap: 14px;
    flex-direction: column;
  }

  .row1,
  .row2 {
    flex-direction: column;
    gap: 14px;
  }
  .benefit-1,
  .benefit-2,
  .benefit-3,
  .benefit-4 {
    gap: 14px;
  }

  /* property-section */
  .property-section {
    padding: 48px 24px 48px 24px;
    /* display: none; */
    flex-direction: column;
    gap: 24px;
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
    /* padding: 24px; */
  }
  .headline {
    padding: 12px;

    /* border: 2px solid green; */
    margin: 0;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 16px;
    align-items: center;
  }
  .headline h2 {
    font-weight: 700;
    padding: 0;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: -1%;
    /* text-align: center;
    align-items: center; */
  }
  .headline p {
    width: 100%;
    opacity: 70%;
    font-weight: 400;
    font-size: 18px;
    line-height: 25.6px;
    letter-spacing: 5%;
    text-align: center;
    align-items: center;
  }

  .search-section {
    flex-direction: column;
    /* border: 2px solid red; */
    margin: 0;
    gap: 16px;
    width: 100%;
  }
  .listed-properties {
    /* display: none; */
    /* border: 2px solid red; */
    /* padding: 24px; */
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10px;
    gap: 24px;
    width: 100%;
    height: 100%;
  }
  .property-row1,
  .property-row2 {
    /* border: 2px solid blue; */
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 44px;
  }
  .property-row2 {
    display: none;
  }

  /* user-category-section */
  .user-category-section {
    /* display: none; */
    /* border: 2px solid red; */
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .user-header {
    /* display: none; */
    width: 100%;
    flex-direction: column;
    margin: 0;
    padding: 24px;
    gap: 70px;
  }
  .user-headline {
    width: 100%;
    height: 100%;
    align-items: center;
    line-height: 40px;
    letter-spacing: -1%;
    text-align: center;
  }
  .user-headline h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1%;
    text-align: center;
  }
  .user-header-text {
    width: 90%;
    height: 90%;
    align-items: center;
    text-align: center;
  }
  .user-text {
    font-size: 15px;
  }

  .features-cards {
    /* display: none; */
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: visible;
    margin: 0;
    margin-top: 300px;
  }
  .feature-1,
  .feature-2,
  .feature-3 {
    width: 80%;
    height: 80%;
  }
  .feature-card-1-details,
  .feature-card-2-details,
  .feature-card-3-details {
    /* align-items: center; */
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .user-hr {
    /* margin-top: 64px; */
    border-width: 1.5px;
    width: 100%;
    border: 1.5px solid #312f4b;
  }

  .user-stats {
    /* display: none; */
    width: 100%;
    height: 100%;
    justify-content: space-around;
    margin: 0;
    /* gap: 42px; */
    padding: 24px;
    flex-direction: column;
  }
  .stats-hr {
    rotate: 0deg;
  }

  /* Cta-Section */
  .cta-section {
    /* display: none; */
    height: 100%;
    gap: 45px;
    padding: 48px 24px 48px 24px;
  }
  .cta-headline {
    margin: 0;
    font-size: 16px;
    width: 100%;
  }
  .cta-headline-content {
    padding: 0;
    width: 100%;
    /* align-items: center; */
    text-align: center;
  }
  .cta-headline-content h2 {
    font-size: 32px;
  }
  .email-box {
    width: 100%;
    height: 70%;
    /* height: 100%; */
  }
  .email-box-content {
    padding: 0;
    height: 50px;
  }
  .email-textarea::placeholder {
    font-size: 16px;
  }
  .submit-btn {
    gap: 10px;
    border: none;
    border-radius: 10px;
    padding: 0;
    /* padding: 12px 40px 12px 40px; */
  }

  .cta-text {
    align-items: center;
    text-align: center;
  }

  /* Footer-section */
  .footer-section {
    /* display: none; */
    /* display: flex; */
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    padding: 0;
    height: 100%;
  }
  .footer-logo {
    margin: 0;
    margin-top: 20px;
    padding: 0;
    align-items: center;
  }

  .footer-nav-menu {
    /* display: none; */
    flex-direction: column;

    /* padding: 48px 24px 48px 24px; */
    width: 90%;
    height: 100%;
    /* gap: 44px; */
    margin: 0;
    padding: 20px;
  }
  .nav-column-1,
  .nav-column-2,
  .nav-column-3 {
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
  }
  .nav-menu {
    /* gap: 30px; */
  }
  .footer-hr {
    width: 100%;
    padding: 0 !important;
    margin-top: 24px;

    border: 1.2px solid #e8e6f9;
  }
  .copyright-section {
    /* display: none; */
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding-left: 24px;
    gap: 24px;
  }
  .socials-content {
    width: 70%;
    justify-content: space-between;
    opacity: 70%;
  }
}
