@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

/* resets */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-text-color: #000929;
  --secondary-text-color: #e0def7;
  --accent-color: #7065f0;
  --accent-color-dark: #100a55;
  --padding-line-section: 20px;
}

body {
  font-family: "Plus Jakarta Sans";
  background-color: #ffffff;
}

h1 {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 3rem;
}

h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

h4 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  color: rgba(0, 9, 41, 1);
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
  display: inline-block;
}

ul {
  list-style: none;
}

/* utility-classes */
.benefit-section {
  width: 100vw;
  height: 100vh;
  background: #ffffff;
}

.hero-section {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    rgba(224, 222, 247, 1) 100%,
    rgba(224, 222, 247, 0) 30%
  );
}

.small-bold-text {
  font-size: 1rem;
  font-weight: 700;
}

.container {
  max-width: 1180px;
  margin-inline: auto;
  padding-inline: var(--padding-line-section);
  overflow: hidden;
}

.flex {
  display: flex;
  align-items: center;
}

.primary-button {
  background-color: var(--accent-color);
  border-radius: 8px;
  font-weight: 700;
  color: white !important;
  padding: 12px 24px;
  box-shadow: 0 0 2px var(--secondary-text-color);
  transition: 0.2s ease-out;
  text-align: center;
}

.secondary-button {
  border: 2.5px solid var(--secondary-text-color);
  border-radius: 8px;
  font-weight: 700;
  color: var(--primary-text-color) !important;
  padding: 12px 24px;
  transition: 0.2s ease-out;
}

.third-button {
  border-radius: 8px;
  background-color: var(--accent-color-dark);
  color: #ffffff;
  width: 159px;
  height: 40px;
  padding: 10px 16px 10px 16px;
}

/* nav-section */
.main-nav {
  max-width: 100%;
  height: 4.5rem;
  background-color: #edecfb;
  /* position: relative; */
  gap: 40px;
  justify-content: space-between;
  /* align-items:; */
}

.left-section {
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}
.company-logo img {
  width: 131px;
}

.nav-links ul {
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.nav-toggle {
  display: none;
}

.nav-button ul {
  justify-content: space-between;
  gap: 1.5rem;
}

/* content-section*/

.content {
  height: calc(100vh - 4.5rem);
  width: 100%;
  justify-content: space-between;
  /* gap: 2rem; */
}

.right-content {
  background-image: url(/public/images/house.png);
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 100%;
  position: relative;
}

.testimonial-img {
  position: absolute;
  top: 88px;
  left: 0;
}

.trustpilot-img {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* left-content */

.left-content {
  width: 50%;
  height: 100%;
  /* border: 2px solid green; */
  justify-content: center;
  padding-left: 160px;
  padding-top: 88px;
}

.left-content-text {
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
  height: 200px;
}

/* left-content-search */

.left-content-search {
  margin-top: 30px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;
  width: 807px;
  height: 150px;
}
.tabs {
  border-radius: 8px;
  background: #ffffff;
  font-weight: 400;
  color: var(--primary-text-color);
  width: 297px;
  height: 56px;
  justify-content: space-around;
}

.search-bar {
  background: #ffffff;
  width: 807px;
  height: 100px;
  border-radius: 8px;
  border: 1px 0px 0px 0px;
  justify-content: space-around;
  gap: 40px;
  z-index: 100;
}
.location {
  flex-direction: column;
  gap: 4px;
}
.timing {
  flex-direction: column;
  gap: 4px;
}
.browse-button {
  flex-direction: column;
  gap: 4px;
}

/* left-content-stats */

.left-content-stats {
  margin-top: 60px;
  width: 480px;
  height: 152px;
  align-items: end;
  gap: 80px;
}

.numbers {
  color: var(--accent-color);
  width: 159px;
  height: 152px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.properties {
  color: var(--accent-color);

  width: 241px;
  height: 152px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

/* benefit-section */

.benefit-section {
  flex-direction: row;
  justify-content: center;
}

.benefits {
  /* border: 2px solid red; */
  width: 640px;
  height: 500px;
  margin-top: 100px;
  margin-left: 640px;
  gap: 64px;
  opacity: 0px;

  position: relative;
  flex-direction: column;
  gap: 64px;
  /* width: 640px;
  height: 500px; */
  /* margin-top: 100px; */
  /* margin-left: 640px; */
}
.row1,
.row2 {
  gap: 24px;
}

.benefit-1,
.benefit-2,
.benefit-3,
.benefit-4 {
  /* border: 2px solid blue; */
  color: var(--primary-text-color);
  width: 308px;
  height: 218px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;
}

/* Illustration */

.Illustration {
  
  position: relative;
  margin-top: 100px;
  margin-left: 160px;
}

.Illustration-card {
  background: url(/public/images/Illustration\ home.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  /* border: 2px solid green; */
  background-color: #e0def7;
  width: 416px;
  height: 500px;
  top: 100px;
  left: 160px;
}

.card-content {
  /* border: 2px solid red; */
  flex-direction: column;
  width: 309px;
  height: 212px;
  gap: 22px;
}

.card-button {
  width: 100%;
  height: 100%;
  padding: 10px 16px 10px 16px;
  gap: 8px;
  border-radius: 8px;
  align-items: center;
  flex-direction: ;
}
