@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

/* resets */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-text-color: #000929;
  --secondary-text-color: #e0def7;
  --accent-color: #7065f0;
  --accent-color-dark: #100a55;
  --padding-line-section: 20px;
  --tertiary-text-color: #ffffff;
}

body {
  font-family: "Plus Jakarta Sans";
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

h1 {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 3rem;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.01em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

h4 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  color: rgba(0, 9, 41, 1);
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
  display: inline-block;
}

ul {
  list-style: none;
}

/* utility-classes */

.benefit-section {
  width: 100vw;
  height: 100vh;
  background: #ffffff;
}

.small-bold-text {
  font-size: 1rem;
  font-weight: 700;
}

.container {
  max-width: 1180px;
  margin-inline: auto;
  padding-inline: var(--padding-line-section);
  overflow: hidden;
}

.flex {
  display: flex;
  align-items: center;
}

.primary-button {
  background-color: var(--accent-color);
  border-radius: 8px;
  font-weight: 700;
  color: white !important;
  padding: 12px 24px;
  box-shadow: 0 0 2px var(--secondary-text-color);
  transition: 0.2s ease-out;
  text-align: center;
}

.primary-button:hover {
  background-color: var(--accent-color-dark);
  color: #ffffff;
  transition: 0.2s ease-in-out;
  box-shadow: 0 0 2px var(--primary-text-color);
  cursor: pointer;
}
.secondary-button {
  border: 2.5px solid var(--secondary-text-color);
  border-radius: 8px;
  font-weight: 700;
  color: var(--primary-text-color);
  padding: 12px 24px;
  transition: 0.2s ease-out;
}
.secondary-button:hover {
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  transition: 0.2s ease-in-out;
  box-shadow: 0 0 2px var(--accent-color);
}

.third-button {
  border-radius: 8px;
  background-color: var(--accent-color-dark);
  color: #ffffff;
  width: 100%;
  height: 100%;
  padding: 10px 16px 10px 16px;
  transition: 0.2s ease-out;
}
.third-button:hover {
  background-color: var(--accent-color);
  color: #ffffff;
  transition: 0.2s ease-in-out;
  box-shadow: 0 0 2px var(--accent-color);
}

/* hero-section */

.hero-section {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    rgba(224, 222, 247, 1) 100%,
    rgba(224, 222, 247, 0) 30%
  );
}

/* 1) nav-section */

.main-nav {
  max-width: 100vw;
  height: 4.5rem;
  background-color: #edecfb;
  /* position: relative; */
  gap: 40px;
  justify-content: space-between;
  /* align-items:; */
}

.left-section {
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}
.company-logo img {
  width: 131px;
}

.nav-links ul {
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.nav-toggle {
  display: none;
}

.nav-button ul {
  justify-content: space-between;
  gap: 1.5rem;
}

/* 2)content-section*/

.content {
  height: calc(100vh - 4.5rem);
  width: 100%;
  justify-content: space-between;
  /* gap: 2rem; */
}

.right-content {
  background-image: url(/public/images/house.png);
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 100%;
  position: relative;
}

.testimonial-img {
  position: absolute;
  top: 88px;
  left: 0;
}

.trustpilot-img {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* left-content */

.left-content {
  width: 50%;
  height: 100%;
  /* border: 2px solid green; */
  justify-content: center;
  padding-left: 160px;
  padding-top: 88px;
}

.left-content-text {
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
  height: 200px;
}

/* left-content-search */

.left-content-search {
  margin-top: 30px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;
  width: 807px;
  height: 150px;
}
.tabs {
  border-radius: 8px;
  background: #ffffff;
  font-weight: 400;
  color: var(--primary-text-color);
  width: 297px;
  height: 56px;
  justify-content: space-around;
}

.content-search {
  background: #ffffff;
  width: 807px;
  height: 100px;
  border-radius: 8px;
  border: 1px 0px 0px 0px;
  justify-content: space-around;
  gap: 40px;
  z-index: 100;
}
.location {
  flex-direction: column;
  gap: 4px;
}
.timing {
  flex-direction: column;
  gap: 4px;
}
.browse-button {
  flex-direction: column;
  gap: 4px;
}

/* left-content-stats */

.left-content-stats {
  margin-top: 60px;
  width: 480px;
  height: 152px;
  align-items: end;
  gap: 80px;
}

.numbers {
  color: var(--accent-color);
  width: 159px;
  height: 152px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.properties {
  color: var(--accent-color);

  width: 241px;
  height: 152px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

/* benefit-section */

.benefit-section {
  /* border: 2px solid red; */
  background-color: #ffffff;
  flex-direction: row;
  justify-content: center;
  gap: 64px;
}

/* 1) Illustration */
.Illustration-card {
  /* border: 2px solid green; */
  border-radius: 8px;
  background: url(/public/images/Illustration\ home.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  background-color: #e0def7;
  flex-direction: column;
  justify-content: flex-start;
  width: 416px;
  height: 500px;
}
.card-content {
  /* border: 2px solid red; */
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 309px;
  height: 210px;
  margin: 40px 40px 67px;
  gap: 22px;
}

/* 2) benefit-categories */
.benefit-categories {
  /* border: 2px solid blue; */
  width: 640px;
  height: 500px;
  gap: 64px;
  flex-direction: column;
}

.row1,
.row2 {
  gap: 24px;
  height: 100%;

  width: 100%;
}
.benefit-1,
.benefit-2,
.benefit-3,
.benefit-4 {
  /* border: 2px solid green; */
  color: var(--primary-text-color);
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 24px;
}

.benefit-p {
  color: #4d5461;
  font-size: 16px;
  line-height: 25px;
}

/* property-section */

.property-section {
  /* border: 2px solid red; */
  background: linear-gradient(180deg, #ffffff 0%, #f0effb 100%);
  width: 100%;
  height: 100%;
  gap: 32px;
}

/* -> headline */

.headline {
  /* border: 2px solid blue; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 544px;
  height: 98px;
  margin-top: 80px;
  margin-left: 448px;
  margin-bottom: 74px;
  gap: 16px;
}

/* -> search */

.search-section {
  /* border: 2px solid green; */
  width: 1120px;
  height: 60px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  /* gap: 0px; */
  opacity: 0px;
}

.segmented-control {
  border: 1.5px solid #e0def7;
  width: 360px;
  height: 60px;
  background-color: #f0effb;
  gap: 10px;
  border-radius: 8px;
}

.segmented-items {
  /* border: 2px solid green; */
  width: 360px;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  margin-left: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  gap: 8px;
}

.rent {
  border: 2px solid #e0def7;
  border-radius: 6px;
  background-color: #ffffff;
  width: 110px;
  height: 48px;
  color: var(--accent-color);
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.rent i,
a {
  font-size: 18px;
  font-weight: 700;
  color: var(--accent-color);
}

.buy,
.sell {
  width: 110px;
  height: 48px;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.buy a,
i .sell i,
a {
  font-size: 18px;
  font-weight: 500;
  color: #4d5461;
}

.property-search {
  border: 2px solid var(--secondary-text-color);
  border-radius: 8px;
  background: #f7f7fd;
  width: 360px;
  height: 60px;
  top: 250px;
  left: 928px;
  /* gap: 16px; */
}

.search-icon {
  width: 110px;
  height: 24px;
  margin-left: 16px;
  gap: 16px;
}

.icon {
  font-size: 20px;
  color: var(--accent-color);
}

/* -> Listed-properties */

.listed-properties {
  /* border: 2px solid blue; */
  width: 100%;
  height: 100%;
  /* top: 1650px; */
  margin-top: 42px;
  gap: 32px;
  flex-direction: column;
  align-items: center;
}

.property-text {
  color: #4d5461;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.property-row1 {
  /* border: 2px solid green; */
  justify-content: space-between;
  width: 1128px;
  height: 424px;
  gap: 24px;
}

.property-card-1,
.property-card-2,
.property-card-3 {
  /* border: 2px solid red; */
  /* box-shadow: 0px 2px 2px 0px #ffffff; */
  border: 2px solid #f0effb;
  position: relative;
  border-radius: 8px;
  flex-direction: column;
  width: 360px;
  height: 424px;
  align-items: center;
  /* justify-content: space-between; */
  gap: 8px;
}

.ribbon {
  position: absolute;
  background: var(--accent-color);
  border-radius: 8px;
  left: -9px;
  top: 180px;
  width: 130px;
  height: 40px;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border-bottom-left-radius: 0;
  color: #ffff;
  text-align: center;
  line-height: 38px;
}

.ribbon::before,
.ribbon::after {
  content: "";
  position: absolute;
  left: 0;
  top: 40px;
  width: 9px;
  height: 15px;
  border-bottom-left-radius: 8px;
}

.ribbon::before {
  background: var(--accent-color-dark);
}

.ribbon::after {
  background-color: var(--accent-color-dark);
  border-top-left-radius: 8px;
}

.ribbon-text {
  color: #ffffff;
  width: 61px;
  height: 16px;
  gap: 0px;
  opacity: 0px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  /* letter-spacing: 0.5px; */
}

.property-row2 {
  /* border: 2px solid green; */
  /* justify-content: center; */
  width: 1128px;
  height: 424px;
  gap: 24px;
}

.property-card-4,
.property-card-5,
.property-card-6 {
  position: relative;
  border: 2px solid #f0effb;
  border-radius: 8px;
  flex-direction: column;
  width: 360px;
  height: 424px;
  align-items: center;
  /* justify-content: space-between; */
  /* gap: 16px; */
}

.property-img {
  width: 358px;
  height: 200px;
  background-size: cover;
  /* margin-left: 6px; */
  border-radius: 8px 8px 0px 0px;
}

.price {
  /* border: 2px solid green; */
  width: 141px;
  height: 36px;
  margin-left: 24px;
  margin-bottom: 6px;
  margin-top: 35px;
  gap: 4px;
}

.price-text {
  color: var(--accent-color);
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: -1px;
}

.property-details {
  /* border: 2px solid green; */
  width: 320px;
  height: 48px;
  margin-left: 24px;
  margin-bottom: 6px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.hr {
  border: 1.5px solid #f0effb;
  width: 304px;
  margin-top: 5px;
}

.property-facilities {
  /* border: 2px solid green; */
  width: 300px;
  height: 30px;
  margin-top: 45px;
  margin-left: 24px;
  justify-content: space-between;
  gap: 12px;
}

.beds,
.bath,
.dimensions {
  gap: 5px;
  color: var(--accent-color);
  font-size: 16px;
}

.property-button {
  border-radius: 8px 0px 0px 0px;
  padding: 16px 32px 16px 32px;
  width: 300px;
  height: 80px;
  margin-bottom: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.property-button a {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}

/* # user-type-section */

.user-category-section {
  background: #100a55;

  /* position: relative; */
  border: 2px solid blue;

  width: 100%;
  height: 788px;
}

/* User-header */

.user-header {
  position: absolute;
  /* border: 2px solid red; */
  width: 1120px;
  height: 112px;
  margin-top: 100px;
  margin-left: 200px;

  justify-content: space-between;
}
.user-headline {
  /* border: 1px solid green; */
  color: #ffffff;
  width: 444px;
  height: 112px;
  line-height: 56px;
  letter-spacing: -1%;
  /* text-align: left; */
  justify-content: flex-start;
}

.user-header-text {
  /* border: 1px solid green; */
  width: 406px;
  height: 104px;
}

.user-text {
  color: #ffffff;
  opacity: 0.7;
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  letter-spacing: 0%;
}

/* feature-cards */

.features-cards {
  /* border: 2px solid green; */
  /* width: 100%; */
  height: 190px;
  margin-top: 276px;
  margin-left: 200px;
  gap: 32px;
  /* flex-direction: column; */
}

/* feature-card-1 */
.feature-1 {
  /* border: 2px solid red; */
  background: #38308f;
  width: 536px;
  height: 190px;
  border-radius: 8px;
  padding: 32px 32px;
  /* padding-left: 32px; */
  flex-direction: column;
}

.feature-card-1-details {
  /* border: 2px solid blue; */
  color: var(--tertiary-text-color);
  width: 472px;
  height: 130px;
  align-items: flex-start;
  gap: 24px;

  /* justify-content: space-between; */
}

.feature-icon-1 {
  width: 64px;
  height: 64px;
}

.feature-content-1 {
  /* border: 1px solid red; */
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 16px;
}

.feature-text-1 {
  color: var(--tertiary-text-color);
  line-height: 25.6px;
  letter-spacing: 0%;
  opacity: 70%;
}

/* feature-card-2 */

.feature-2 {
  /* border: 2px solid red; */
  background: var(--tertiary-text-color);
  width: 536px;
  height: 190px;
  border-radius: 8px;
  padding: 32px 32px;
  /* padding-left: 32px; */
  flex-direction: column;
}

.feature-card-2-details {
  /* border: 2px solid blue; */
  color: #000929;
  width: 472px;
  height: 130px;
  align-items: flex-start;
  gap: 24px;

  /* justify-content: space-between; */
}

.feature-icon-2 {
  width: 64px;
  height: 64px;
}

.feature-content-2 {
  /* border: 1px solid red; */
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 16px;
}

.feature-text-2 {
  color: #000929;
  line-height: 25.6px;
  letter-spacing: 0%;
  opacity: 70%;
}

/* feature-card-3 */

.feature-3 {
  /* border: 2px solid red; */
  background: var(--accent-color);
  width: 536px;
  height: 190px;
  border-radius: 8px;
  padding: 32px 32px;
  /* padding-left: 32px; */
  flex-direction: column;
}

.feature-card-3-details {
  /* border: 2px solid blue; */
  color: var(--tertiary-text-color);
  width: 472px;
  height: 130px;
  align-items: flex-start;
  gap: 24px;

  /* justify-content: space-between; */
}

.feature-icon-3 {
  width: 64px;
  height: 64px;
}

.feature-content-3 {
  /* border: 1px solid red; */
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 16px;
}

.feature-text-3 {
  color: var(--tertiary-text-color);
  line-height: 25.6px;
  letter-spacing: 0%;
  opacity: 70%;
}

/* user-hr */

.user-hr {
  margin-top: 64px;
  border-width: 1.5px;
  border: 1.5px solid #312f4b;
}

/* User-Stats */

.user-stats {
  /* border: 2px solid red; */
  width: 928px;
  height: 90px;
  margin-top: 64px;
  margin-left: 310px;
  gap: 52px;
}

.stats-1,
.stats-2,
.stats-3 {
  /* border: 2px solid green; */
  color: var(--tertiary-text-color);
  flex-direction: column;
  gap: 8px;

  /* overflow: hidden; */
}

.stats-text {
  color: var(--tertiary-text-color);
  opacity: 70%;
}

/* stats-hr */

.stats-hr {
  width: 64px;
  rotate: -90deg;
  border: 1.5px solid #ffffff;
}
